.navbar a {
  color: white;
  transition: 0.7s ease-in-out; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.nav-link:hover {
  color: #6c6f74; }

.card {
  border-radius: 10px;
  align-items: center;
  -webkit-box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 5px 3px 40px 7px rgba(54, 54, 54, 0.53);
  box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 5px 3px 40px 7px rgba(54, 54, 54, 0.53); }
  .card .card-img-top:hover {
    opacity: 0.9; }

.row {
  box-sizing: border-box; }

/*maquetado de html Domotica*/
body {
  background-image: linear-gradient(to left, rgba(211, 208, 202, 0.897), white); }

.containerDo {
  height: 80vh;
  display: grid;
  grid-template-areas: "main main" "section1 section1" "section2 section3" "section4 section5" "footer footer"; }
  .containerDo h3 {
    font-size: 1.3rem;
    margin: 1rem; }
  .containerDo p {
    Text-align: center;
    margin: 1rem;
    font-size: 1.3; }

.menuDo ul {
  display: flex; }
  .menuDo ul li {
    list-style: none;
    margin: 0.5rem;
    font-size: 1.2rem; }

.menuDo a {
  color: blanchedalmond; }
  .menuDo a:hover {
    color: #808085; }

.mainDo {
  grid-area: main; }
  .mainDo img {
    width: 100%; }

.sectionDo1 {
  grid-area: section1;
  text-align: center;
  font-size: 1.3rem; }
  .sectionDo1 ul {
    display: flex;
    justify-content: space-around; }
    .sectionDo1 ul li {
      list-style: none;
      margin: 1rem;
      padding: 0.3rem;
      color: black; }
      .sectionDo1 ul li:hover {
        transform: scale(1.2); }
      .sectionDo1 ul li a {
        text-decoration: none;
        color: #0e0e0e; }
  .sectionDo1 h2 {
    display: inline-block;
    width: 180px;
    margin: 1rem;
    border-bottom: 1px solid grey;
    /*Borde inferiror de la palabra domotica*/
    border-radius: 1%; }
    .sectionDo1 h2:hover {
      transition: 0.9s ease-in-out;
      transform: scale(1.05, 1.05); }
  .sectionDo1 .a-sectionDo1:hover {
    transition: all .3s;
    color: #645f5f;
    text-shadow: 2px 0px 9px rgba(0, 0, 0, 0.9); }

/*SECCION 2 CONTROL POR VOZ INICIA*/
.sectionDo2 {
  border: 3px hidden #d2a48d;
  border-radius: 10px 40px 40px 10px;
  grid-area: luces;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-color: #f5f5f5;
  -webkit-box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  grid-area: section2; }

/*SECCION 3 ILUMINACION INTELIGENTE INICIA*/
.sectionDo3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  border: 5px hidden #d2a48d;
  border-radius: 40px 10px 10px 40px;
  margin: 50px;
  grid-area: section3; }

/*SECCION 3 ILUMINACION INTELIGENTE FINALIZA*/
/*SECCION 4 CLIMATIZACION INICIA*/
.sectionDo4 {
  border: 3px hidden #d2a48d;
  border-radius: 10px 40px 40px 10px;
  grid-area: luces;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-color: #f5f5f5;
  -webkit-box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  grid-area: section4; }

/*SECCION 4 CLIMATIZACION FINALIZA*/
/*SECCION 5 CLIMATIZACION INICIA*/
.sectionDo5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  border: 5px hidden #d2a48d;
  border-radius: 40px 10px 10px 40px;
  margin: 50px;
  grid-area: section5; }

/*SECCION 5 CLIMATIZACION FINALIZA*/
.imgVoz1, .imgIluminacion, .imgClimatizacion, .imgSeguridad {
  width: 80%; }

/*maquetado de html nuestra empresa*/
.mainEm h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem; }

.titulosNosotros a {
  color: black; }

.titulosNosotros ul {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  font-size: 2rem; }

.titulosNosotros li {
  background-color: #d4cfca;
  list-style: none;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem; }

.quienesSomos, .mision, .domotica {
  background-color: #d3cbc3;
  padding: 3rem;
  margin: 2rem;
  border-radius: 1rem;
  font-size: 1.5rem; }

.containerPro {
  height: 80vh;
  display: grid;
  grid-template-areas: "main main" "section1 section1" "section2 section3" "section4 section4" "footer footer"; }
  .containerPro h3 {
    font-size: 1.3rem;
    margin: 1rem; }
  .containerPro p {
    Text-align: center;
    margin: 1rem;
    font-size: 1.3; }

.menuDo ul {
  display: flex; }
  .menuDo ul li {
    list-style: none;
    margin: 0.5rem;
    font-size: 1.2rem; }

.menuDo a {
  color: blanchedalmond; }
  .menuDo a:hover {
    color: #808085; }

.mainDo {
  grid-area: main; }
  .mainDo img {
    width: 100%; }

.sectionDo1 {
  grid-area: section1;
  text-align: center;
  font-size: 1.3rem; }
  .sectionDo1 ul {
    display: flex;
    justify-content: space-around; }
    .sectionDo1 ul li {
      list-style: none;
      margin: 1rem;
      padding: 0.3rem;
      color: black; }
      .sectionDo1 ul li:hover {
        transform: scale(1.2); }
      .sectionDo1 ul li a {
        text-decoration: none;
        color: #0e0e0e; }
  .sectionDo1 h2 {
    display: inline-block;
    width: 180px;
    margin: 1rem;
    border-bottom: 1px solid grey;
    /*Borde inferiror de la palabra domotica*/
    border-radius: 1%; }
    .sectionDo1 h2:hover {
      transition: 0.9s ease-in-out;
      transform: scale(1.05, 1.05); }
  .sectionDo1 .a-sectionDo1:hover {
    transition: all .3s;
    color: #645f5f;
    text-shadow: 2px 0px 9px rgba(0, 0, 0, 0.9); }

/*SECCION 2 CONTROL POR VOZ INICIA*/
.sectionDo2 {
  border: 3px hidden #d2a48d;
  border-radius: 10px 40px 40px 10px;
  grid-area: luces;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-color: #f5f5f5;
  -webkit-box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  grid-area: section2; }

/*SECCION 3 ILUMINACION INTELIGENTE INICIA*/
.sectionDo3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  border: 5px hidden #d2a48d;
  border-radius: 40px 10px 10px 40px;
  margin: 50px;
  grid-area: section3; }

/*SECCION 4 CLIMATIZACION INICIA*/
.sectionDo4 {
  border: 3px hidden #d2a48d;
  border-radius: 10px 40px 40px 10px;
  grid-area: luces;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-color: #f5f5f5;
  -webkit-box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  box-shadow: -13px 19px 40px 7px rgba(54, 54, 54, 0.53), 15px 3px 40px 7px rgba(54, 54, 54, 0.53);
  grid-area: section4; }

.imgVoz1, .imgIluminacion, .imgClimatizacion, .imgSeguridad {
  width: 50%; }

.containerCo {
  display: grid;
  grid-template-areas: "titulo titulo" "formulario mapa" "footer footer"; }

.tituloCo {
  grid-area: titulo;
  text-align: center;
  margin-top: 3rem;
  font-family: 'Times New Roman', Times, serif; }

.formulario {
  display: inline-block;
  text-align: center;
  grid-area: formulario; }
  .formulario form {
    display: flex;
    margin: 0 auto;
    width: 450px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgba(43, 42, 40, 0.7);
    box-sizing: border-box;
    margin-top: 8%;
    text-align: center;
    margin-right: 0%;
    justify-content: center;
    align-content: center;
    height: 500px; }
    .formulario form input, .formulario form textarea, .formulario form select {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 17px;
      border: none; }
    .formulario form h2 {
      color: #fff;
      font-size: 40px;
      margin-bottom: 20px;
      display: inline-block;
      font-family: monospace; }

.mapa {
  grid-area: mapa;
  width: 100%; }
  .mapa iframe {
    margin-top: 8%;
    margin-left: 0%;
    display: flex;
    height: 500px;
    border-radius: 7px; }

textarea {
  max-height: 200px;
  min-height: 100px;
  max-width: 100%; }

#enviar {
  background-color: #31384A;
  color: #fff;
  padding: 1px;
  border: none;
  width: 100%;
  font-family: monospace;
  font-weight: bolder;
  font-size: 2em; }
  #enviar:hover {
    cursor: pointer; }

@media only screen and (max-width: 480px) {
  .conteiner-fluid.card {
    margin-bottom: 2rem; } }

@media only screen and (max-width: 480px) {
  .titulosNosotros ul {
    margin: 1rem;
    font-size: 1.2rem; }
  .titulosNosotros ul li {
    padding: 0.5rem;
    border-radius: 1rem; }
  .quienesSomos, .mision, .domotica {
    padding: 2rem;
    margin: 1rem;
    font-size: 1rem; }
  .containerEm h3 {
    font-size: 1rem; }
  .mision {
    padding: 2rem;
    margin: 1rem;
    font-size: 1rem; }
  .domotica {
    padding: 2rem;
    margin: 1rem;
    font-size: 1rem; } }

/* media queries desktop first */
@media only screen and (max-width: 480px) {
  .containerDo {
    height: 80vh;
    display: grid;
    grid-template-areas: "header " "main " "section1" "section2"  "section3" "section4"  "section5" "footer"; }
  .mainDo img {
    display: none; }
  .headerDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem; }
  .headerDo ul li {
    font-size: 1rem; }
  .sectionDo1 {
    font-size: 0.8rem; }
  .sectionDo2 p, h3 {
    font-size: 0.8rem; }
  .sectionDo3 p, h3 {
    font-size: 0.8rem; }
  .sectionDo4 p, h3 {
    font-size: 0.8rem; }
  .sectionDo5 p, h3 {
    font-size: 0.8rem; } }

@media only screen and (max-width: 480px) {
  .containerPro {
    height: 80vh;
    display: grid;
    grid-template-areas: "main" "section1" "section2" "section3" "section4" "footer"; }
  .proyectos p, h3 {
    font-size: 0.8rem; } }

@media only screen and (max-width: 480px) {
  .containerCo {
    display: grid;
    grid-template-areas: "titulo" "formulario" "mapa" "footer"; }
  .formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%; }
  .mapa {
    display: flex;
    align-items: center; }
    .mapa iframe {
      margin-top: 0%;
      width: 100%; } }

@media only screen and (max-width: 700px) {
  .containerCo {
    display: grid;
    grid-template-areas: "titulo" "formulario" "mapa" "footer"; }
  .formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%; }
    .formulario form {
      align-items: center;
      margin: 0%; }
  .mapa {
    display: flex;
    justify-content: start;
    align-items: center; }
    .mapa iframe {
      margin-top: 0%;
      width: 100%; } }

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

.footer {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  background-color: #04080f;
  justify-content: space-between;
  align-items: center; }
  .footer h3 {
    color: white; }
  .footer .vinculos-a {
    text-decoration: none; }
  .footer i {
    padding-right: 40px;
    color: #fff; }
