@import "page/index";
@import "page/domotica";
@import "page/nuestraEmpresa";
@import "page/proyectos";
@import "utilities/mediaqueries";
@import "page/contacto";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}



.footer{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    grid-area: footer;
    background-color: #04080f;
    justify-content:space-between;
    align-items: center;
    h3{
        color: map-get($mapacolor, color3)
      }
    .vinculos-a
    {
        text-decoration: none;
    }  
    i{
        padding-right: 40px;
        color:#fff;  
    }
}

