/*----maquetado de contacto----*/

.containerCon{     
    h3{
       font-size: 1.3rem;
       margin: 1rem;
      }
    p{
      Text-align: center;
       margin: 1rem;
       font-size: 1.3;
     }    
}
.contacto {
display: grid;
grid-template-columns: 50% 50%;

}


.formulario{
display: flex;
background-color: #9da0a5;
text-align: center



}
.mapa{
background-color: aqua;


}
.contact_form{
display: flex;

width: 460px;
height: auto;
margin: 80px auto;
border-radius: 10px;
padding-top: 10px;
padding-bottom: 20px;
background-color: #fbfbfb;
}
input{
background-color: #fbfbfb;
width: 408px;
height: 40px;
margin-top:10px;
border-width: 1px;
border-radius: 10px;
border-color: #ab4493;
padding-left: 10px;
margin-bottom: 20px;
}
textarea{
background-color: #fbfbfb;
width: 405px;
height: 150px;
margin-top:10px;
border-width: 1px;
border-radius: 5px;
border-style: solid;
border-color: #ab4493;
padding-left: 10px;
margin-bottom: 20px;
}
label{
display: block;
float: center;
}
/*button{
background-color: #ab4493;
width: 408px;
height: 40px;
margin-top:10px;
border-width: 1px;
border-radius: 10px;
border-color: #ab4493;
padding-left: 10px;
margin-bottom: 20px;;
}
button p{
color: #6c6f74;
}
p{
font-size: 14px;
color: #04080f;
}*/
