
@media only screen and (max-width: 480px){
    .conteiner-fluid.card{
        margin-bottom: 2rem;
    }
}



@media only screen and (max-width: 480px){

    .titulosNosotros ul{
        margin: 1rem;
        font-size: 1.2rem;
    }
    .titulosNosotros ul li{
        padding: 0.5rem;
        border-radius: 1rem;
    }
    .quienesSomos{
        padding: 2rem;
        margin: 1rem;
        font-size: 1rem;
    }
    .containerEm h3{
        font-size: 1rem;

    }
    .mision{
        padding: 2rem;
        margin: 1rem;
        font-size: 1rem;
    }
    .domotica{
        padding: 2rem;
        margin: 1rem;
        font-size: 1rem;
    }
}


/* media queries desktop first */

@media only screen and (max-width: 480px){
    .containerDo{
        height: 80vh;
        display: grid;
        grid-template-areas: "header "
                              "main "
                              "section1"
                              "section2" 
                              "section3"
                              "section4" 
                              "section5"
                              "footer";                    
    }
    .mainDo img{
        display: none;
    }
    .headerDo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
    }
    .headerDo ul li{
        font-size: 1rem;
    }
    
    .sectionDo1{
        font-size: 0.8rem;
    }
    .sectionDo2 p, h3{
        font-size: 0.8rem;
    }   
    .sectionDo3 p, h3{
        font-size: 0.8rem;
    }   
    .sectionDo4 p, h3{
        font-size: 0.8rem;
    }   
    .sectionDo5 p, h3{
        font-size: 0.8rem;
    }   
    
}

//media de html proyecto
@media only screen and (max-width: 480px){
    .containerPro{
                height: 80vh;
                display: grid;
               grid-template-areas:  "main"
                                     "section1"
                                     "section2"
                                     "section3"
                                     "section4"
                                     "footer"; 
              }                    
    .proyectos p, h3{
                      font-size: 0.8rem;
                    }       
}
//media de html contacto
@media only screen and (max-width: 480px){
    .containerCo{
      display: grid;
      grid-template-areas: "main"
                            "titulo"
                            "formulario"
                            "mapa"
                            "footer";
    }
    .mapa{
      margin: 1rem;
    }
    iframe{
      width: 100%;
      margin: 2rem;
    }
  }
  
